:root {
  --dark-bg: #1e1e2f;
  --light-bg: #2b2b3b;
  --accent-blue: #4a90e2;
  --text-light: #e0e0e0;
  --highlight-blue: lightblue;
  --header-bg: #333;
  --header-border: #4a4a5a;
  --input-bg: #3c3c4f;
  --hover-bg: #3a3a4a;
  --no-subtitle-text: #777;
  --delete-hover-bg: rgb(221, 72, 72);
}

.subtitle-table {
  height: 830px;
  width: 100%;
  min-width: 300px;
  border: 1px solid var(--accent-blue);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  background-color: var(--light-bg);
  color: var(--text-light);
  border-radius: 8px;
  overflow: scroll;
  position: relative;
}

@media (max-width: 768px) {
  .subtitle-table {
    font-size: 0.9rem;
  }
}

.subtitle-header {
  font-weight: bold;
  background-color: var(--header-bg);
  border-bottom: 2px solid var(--header-border);

  top: 0;
  display: flex;
  padding: 10px 0;
  color: var(--text-light);
}
.button-header {
  font-weight: bold;
  background-color: var(--header-bg);
  border-bottom: 2px solid var(--header-border);
  position: sticky;
  top: 0;
  display: flex;
  padding: 10px 0;
  color: var(--text-light);
}

.subtitle-header .header-cell:nth-child(1),
.subtitle-header .header-cell:nth-child(3) {
  width: 5%;
}
.subtitle-header .header-cell:nth-child(2) {
  width: 9%;
}
.subtitle-header .header-cell:nth-child(4) {
  width: 22%;
}
.subtitle-header .header-cell:nth-child(5),
.subtitle-header .header-cell:nth-child(6) {
  width: 12%;
}

.subtitle-body {
  max-height: 650px;
  overflow-y: auto;
  padding-top: 10px;
}

.subtitle-row {
  display: flex;
  padding: 10px 0;
  cursor: pointer;
  color: var(--text-light);
}

.subtitle-cell {
  padding: 4px;
  align-items: center;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
}

.subtitle-cell:nth-child(1) {
  width: 5%;
}
.subtitle-cell:nth-child(2) {
  width: 10%;
}
.subtitle-cell:nth-child(3),
.subtitle-cell:nth-child(4),
.subtitle-cell:nth-child(5) {
  width: 15%;
}

.subtitle-cell:nth-child(6) {
  width: 40%;
  text-align: left;
}

.subtitle-input {
  width: 100%;
  padding: 4px;
  border: 1px solid var(--header-border);
  border-radius: 4px;
  outline: none;
  background-color: var(--input-bg);
  color: var(--text-light);
  font-size: 1rem;
}

.subtitle-input:focus {
  background-color: var(--hover-bg);
}

.subtitle-row:hover {
  background-color: var(--hover-bg);
}

.no-subtitles-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  color: var(--no-subtitle-text);
  text-align: center;
}

.subtitle-row.highlight {
  background-color: var(--highlight-blue);
}

.merge-button,
.delete-button {
  padding: 0.5rem 1rem;
  margin: 4px;
  background-color: #cccccc;
  color: var(--dark-bg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}
.merge-button:disabled,
.delete-button:disabled {
  background-color: rgba(117, 111, 111, 0.7);
  border: #666666;
  color: #fff;
  cursor: not-allowed;
}

.delete-button:hover {
  background-color: var(--delete-hover-bg);
}

.merge-button:hover {
  background-color: rgb(40, 203, 40);
}
