.subtitle-table {
  height: 830px;
  width: 95%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: scroll;
  position: relative;
}

.subtitle-header {
  font-weight: bold;
  background-color: #eaeaea;
  border-bottom: 2px solid #333;
  position: sticky;
  top: 0;
  display: flex;
  padding: 10px 1rem;
}

.subtitle-body {
  max-height: 650px;
  overflow-y: auto;
  padding-top: 10px;
}

.subtitle-row {
  display: flex;
  padding: 10px 1rem;
  cursor: pointer;
}

.subtitle-cell {
  display: flex;
  padding: 4px;
  align-items: center;
  overflow-y: hidden;
}

.header-cell {
  text-align: left;
}

.subtitle-cell:first-child {
  width: 3%;
  text-align: center;
}

.subtitle-cell:nth-child(2),
.subtitle-cell:nth-child(3),
.subtitle-cell:nth-child(4) {
  width: 15%;
}

.subtitle-cell:last-child {
  flex: 3;
}

.subtitle-input {
  width: 100%;
  padding: 4px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  font-size: 1rem;
}

.subtitle-input:focus {
  background-color: #f0f0f0;
}

.subtitle-row:hover {
  background-color: #f1f1f1;
}

.no-subtitles-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  color: #777;
  text-align: center;
}

.subtitle-row.highlight {
  background-color: lightblue; 
}
