.subtitle-table {
  height: 830px;
  width: 100%;
  min-width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: scroll;
  position: relative;
}

@media (max-width: 768px) {
  .subtitle-table {
    font-size: 0.9rem;
  }
}

.subtitle-header {
  font-weight: bold;
  background-color: #eaeaea;
  border-bottom: 2px solid #333;
  position: sticky;
  top: 0;
  display: flex;
  padding: 10px 0;
}

.subtitle-header .header-cell:nth-child(1),
.subtitle-header .header-cell:nth-child(3) {
  width: 5%;
}
.subtitle-header .header-cell:nth-child(2) {
  width: 9%;
}

.subtitle-header .header-cell:nth-child(4) {
  width: 22%;
}
.subtitle-header .header-cell:nth-child(5),
.subtitle-header .header-cell:nth-child(6) {
  width: 12%;
}

.subtitle-body {
  max-height: 650px;
  overflow-y: auto;
  padding-top: 10px;
}

.subtitle-row {
  display: flex;
  padding: 10px 0;
  cursor: pointer;
}

.subtitle-cell {
  padding: 4px;
  align-items: center;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
}

.subtitle-cell:nth-child(1) {
  width: 5%;
}
.subtitle-cell:nth-child(2) {
  width: 10%;
}
.subtitle-cell:nth-child(3),
.subtitle-cell:nth-child(4),
.subtitle-cell:nth-child(5) {
  width: 15%;
}

.subtitle-cell:nth-child(6) {
  width: 40%;
  text-align: left;
}

.subtitle-input {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  font-size: 1rem;
}

.subtitle-input:focus {
  background-color: #f0f0f0;
}

.subtitle-row:hover {
  background-color: #f1f1f1;
}

.no-subtitles-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  color: #777;
  text-align: center;
}

.subtitle-row.highlight {
  background-color: lightblue;
}

button {
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: bold;
}

button:hover {
  background: #12bc48;
  color: white;
}
